div.detail {
  .field {
    margin-bottom: 0.25em;
    border-bottom: 1px solid #DDD;
    white-space: nowrap;
    text-align: left;
  }

  label,
  span {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
  }

  label {
    width: 160px;
    font-weight: bold;
  }

  span {
    padding-bottom: 2px;
    margin-bottom: 2px;
    line-height: 15px;
  }
}
