/* product.less */
#wsite-com-product-inventory {
  display: none;
}
@media screen and (min-width: 750px) {
  #wsite-com-product-inventory {
    display: none;
  }
}
#wsite-com-product-buy {
  display: none;
}
div.detail .field {
  margin-bottom: 0.25em;
  border-bottom: 1px solid #DDD;
  white-space: nowrap;
}
div.detail label,
div.detail span {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}
div.detail label {
  width: 160px;
  font-weight: bold;
}
div.detail span {
  padding-bottom: 2px;
  margin-bottom: 2px;
  line-height: 15px;
}
